@tailwind base;
@tailwind components;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  z-index: 99999;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ffe;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
::-webkit-scrollbar-thumb:active {
  background: #fff;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.nm-shadow {
    border-radius: 21px;
background: #ffffff;
box-shadow:  -35px 35px 100px #e6e6e6,
             35px -35px 50px #ffffff;
}

body {
    @apply bg-slate-50 transition-all duration-500 overflow-hidden;
}
.bg-gray-light {
    @apply bg-[#F2F2F2];
}
.card {
    /* background: linear-gradient(89.62deg, #F2F5FE 57.92%, #EDEFFB 76.21%); */
border: 2px solid #FFFFFF;
box-shadow: -3px 35px 44px -9px #a4a4a5;
border-radius: 37px;
position: relative;
}



.sidemenu {
    @apply  overflow-hidden w-56 transition-all duration-500;
    @apply bg-[#636C78] overflow-y-auto !important ;
    
border-radius: 37px;
position: relative;

}
.wrapper.bg-white {
  background: #fff;
}
.wrapper.active {
  background: #113;
}
.sidemenu.closed {
    @apply w-16;
}
.sidemenu:hover {
    @apply w-56 overflow-hidden;
}

.wrapper {
    position: relative;
    @apply   rounded-2xl ;
    -webkit-box-shadow: -8px 6px 33px 8px rgba(184,184,184,0.68); 
    box-shadow: -8px 6px 33px 8px rgba(184,184,184,0.68);
   


}

@tailwind utilities;